body {
  margin: 0;
}

.MainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("backgroundimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.MainDiv > div {
  position: relative;
  top: 150px;
  background-color: rgba(254, 255, 255, 0.2);
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 1%;
  box-shadow: 0px 0px 2px rgba(230, 230, 230, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: transform 0.2s, box-shadow 0.2s, border-radius 0.2s;
}

.MainDiv > div:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(230, 230, 230, 0.7);
  transform: scale(1.5);
}
.MainDiv > div:nth-last-child(3) {
  background-image: url("DivBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.MainDiv > div:active {
  transform: rotateY(180deg) scale(3);
  transition: 1s;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.9);
  backdrop-filter: blur(20px);
  z-index: 3;
}
