body {
  margin: 0;
  background-color: black;
}
header {
  text-align: center;
  background-color: #d4af37;
}

#Logo {
  padding-top: 2vh;
  width: auto;
  height: 10vh;
  min-width: 80px;
  min-height: 40px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style-type: none;
}
.Nav-Links {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.Nav-Links a {
  color: antiquewhite;
  text-decoration: none;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .Nav-Links {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 40px;
    text-align: center;
  }
}

.Home-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
}
.Home-Section h1 {
  font-size: 2.5rem;
}
.Home-Section p {
  font-size: 1.2rem;
  margin: 20px 0;
}
.ProductPageButton {
}
