body {
  margin: 0;
  background-color: black;
}
header {
  text-align: center;
  background-color: #d4af37;
}

#Logo {
  padding-top: 5vh;
  width: auto;
  height: 10vh;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  list-style-type: none;
}
.Nav-Links {
  display: flex;
  flex-direction: column;
}

.Nav-Links a {
  color: antiquewhite;
  text-decoration: none;
}

@media (width: 768px) {
  nav {
    display:inline-flex
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .nav-links {
    display:inline-flex;
    flex-direction: row;
    margin-top: 0;
    gap: 40px;
  }
}
